.inventorySlot {
    background-color: rgb(22, 22, 22);
    background-image: none;
    -unity-background-scale-mode: scale-to-fit;
    flex-shrink: 0;
    width: 200px;
    height: 200px;
}

.inventorySlotImage {
    -unity-background-scale-mode: scale-to-fit;
    background-image: none;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
}
